default: &default
  adapter: postgresql
  encoding: unicode
  pool: 5
  username: postgres

development:
  <<: *default
  database: bento_development
test:
  <<: *default
  database: bento_test

production:
  <<: *default
  database: bento_production
  username: bento
  password: <%= ENV['BENTO_DATABASE_PASSWORD'] %>
