.mail-template {
  border-top: #2E9961 solid 2px;
  border-right: #2E9961 dashed 1px;
  border-bottom: #2E9961 dashed 1px;
  border-left: #2E9961 solid 12px;

  padding: 20px;
}

.mail-template__order-list {
  padding: 10px;
}
